@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>About BABS!</h3>

<p>	Using BABS, clients wishing to meet with a certain businessperson will be able to search for and select availability of the executive they wish to speak with. Our solution aims to reduce the hassle of both businesspeople and clients having to bother with bookings and time slots to a simple GUI. The specific functionality includes the following: searching for available days/times, booking appointments that work for both parties, and having reminders sent before the scheduled meeting. </p>
