@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>BABS</h1>
    <p class="lead">Welcome to BABS - Business Appointment Booking System</p>
</div>

<div class="row">
    <div id="calendar" style="height: 100%;width: 100%"></div>
</div>

<script src="@Url.Content("~/Scripts/MindFusion.Scheduling.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AppointmentSchedule.js")" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/themes/standard.css")" />