@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>BABS</h1>
    <p class="lead">Welcome to BABS - Business Appointment Booking System</p>
</div>

<div class="row">
    <div style="float: left; width: 100%; bottom: 20px;">
        <div style="margin-top: 10px;">
            <div id="datePicker" style="height: 25px; display: inline-block; margin-bottom: 10px">
            </div>

            <button onclick="group(1)">
                Group by Practicioner
            </button>
            <button onclick="group(3)">
                Group by Room
            </button>
            <button onclick="group(0)">
                Clear Grouping
            </button>
        </div>
    </div>
    <div id="calendar" style="height: 100%;width: 100%"></div>
</div>

<script src="@Url.Content("~/Scripts/MindFusion.Scheduling.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/AppointmentSchedule.js")" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/themes/standard.css")" />