body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#datePicker .mfp-bg-cell.mfp-selection .mfp-bg-cell-header {
    background-color: #d4d4d4;
}

.mfp-item-vertical-detail .mfp-subject {
    flex-shrink: 0 !important;
}

.itemClass0 .mfp-item {
    background-color: #03738C !important;
    color: #fff !important;
}

.itemClass1 .mfp-item {
    background-color: #03A6A6 !important;
    color: #fff !important;
}

.itemClass2 .mfp-item {
    background-color: #F28241 !important;
    color: #fff !important;
}

.itemClass3 .mfp-item {
    background-color: #64803B !important;
    color: #fff !important;
}